<!DOCTYPE html>
<html>
<head></head>
<body style="margin: 0;padding: 0;background-color: #f6f7f9;font-family: Arial, Helvetica, sans-serif;font-size: 18px; color: #4d5961;">

  <div style="padding: 20px;">
    <div style="background-color: #fff; border: thin solid #ddd;">

      <div style="background-color: #4c5961; color: white; text-align: center; vertical-align: middle; width: 100%; font-size: 32px; font-weight: bold; margin: 0; padding: 10px 0;" align="center">{% block title %}{{ service }}{% end %}</div>

      <div style="background-color: white; padding: 20px;">
        {% block salutation %}
        <h1 style="font-size: 32px; font-weight: normal; color: #44a9f8; margin: 0;">Hello,</h1>
        {% end %}

        {% block content %}
        {% end %}

        {% block close %}
        <p>Thanks,</p>

        <p>The {{ service }} Team</p>
        {% end %}

        {% block about %}
        <hr style="margin: 30px 0; border-color: #ddd; border-style: solid; border-width: 1px 0 0;">
        <h1 style="font-size: 31.5px; font-weight: normal; color: #44a9f8; margin: 0;">What is {{ service }}?</h1>

        <p>{{ service }} remembers all your passwords so you don't have to, and lets you easily and securely share accounts with others.</p>
        {% end %}
      </div>
    </div>
  </div>
</body>
</html>
