{% extends "master.html" %}

{% block content %}
<p>To confirm that you want to sign in to {{ service }} on your new device, please click this lovely blue button:</p>

<p style="text-align: center;" align="center">
  <a href="{{ verification_link }}" style="text-decoration: none; display: inline-block; cursor: pointer; color: #ffffff; background-color: #44a9f8; font-size: 18px; vertical-align: middle; line-height: 30px; border-radius: 6px; padding: 8px 40px; border: 0;">
    Verify
  </a>
</p>

<p>If you didn't intend to do this, please ignore this email.</p>
{% end %}