{% extends "master.html" %}

{% block content %}
<p>{{ sender_email }} has given you access to an account using {{ service }}, a brilliant solution for access control for teams. To access it, create an account with the following information:</p>

<p><b>Email address:</b> {{ recipient_email }}<br><b>Temporary password:</b> {{ temp_password }}<br></p>

<p style="text-align: center;" align="center">
  <a href="{{ login_url }}" style="text-decoration: none; display: inline-block; cursor: pointer; color: #ffffff; background-color: #44a9f8; font-size: 18px; vertical-align: middle; line-height: 30px; border-radius: 6px; padding: 8px 40px; border: 0;">
    Create Account
  </a>
</p>
{% end %}